*.svn*
*.pyc*
*.swp*
.vscode/
build*/
my*
.vscode
**check*
**resfile*
dmrg/doc/qcmaquis_manual.aux
dmrg/doc/qcmaquis_manual.bbl
dmrg/doc/qcmaquis_manual.blg
dmrg/doc/qcmaquis_manual.log
dmrg/doc/qcmaquis_manual.out
dmrg/doc/qcmaquis_manual.pdf
dmrg/doc/qcmaquis_manual.toc
*.cache
