CompileFlags:
  Add: [-Wall, -Wextra, -std=c++17]

Diagnostics:
  Suppress: [pp_including_mainfile_in_preamble]
  UnusedIncludes: Strict
  ClangTidy:
    Add: [cppcoreguidelines-*, modernize-*, readability-*, bugprone-*]
    Remove: [
      bugprone-easily-swappable-parameters,
      modernize-use-trailing-return-type,
      cppcoreguidelines-avoid-magic-numbers,
      cppcoreguidelines-non-private-member-variables-in-classes,
      readability-magic-numbers,
      readability-identifier-length,
      readability-else-after-return]
