/* general */

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
    overflow-x: hidden;
    background-color: white;
}
body {
    display: table;
    clear: both;
    margin-top: 0px;
}
a {
    cursor: pointer;
    color: #41B0DB;
    text-decoration: underline;
}
div {
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: arial;
    font-size: 13px;
}

li {
    font-size: 14px;
    padding-top: 10px;
}
p {
    font-size: 17px;
    font-family: 'Pontano Sans',Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #333;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%
}
h2 {
    font-size: 16px;
    font-family: arial;
    margin-top: 0px;
    /*font-family: Interstate, 'Lucida Grande', Arial, sans-serif;*/
}
section {
    display: table-row;
}
div.body {
    display: block;
    margin: 0 auto;
    width: 900px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div#menu {
    display: block;
    margin: 0 auto;
    width: 900px;
    margin-top: 25px;
    color: #DFDFDF;
}
div.menu-item {
    display: inline-block;
    cursor: pointer;
    padding-left: 20px;
    font-size: 14px;
}
div.margin {
    display: table-cell;
    position: relative;
    vertical-align: top; 
}
section#header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 103px;
    background-color: rgba(255,255,255,0.95);
    z-index: 2;
}

section.content {
    display: table-row;
    width: 60%;
    max-width: 900px;
    background-color: white;
    vertical-align: middle;
}
section#intro {
    position: relative;
    margin-top: -100px;
    display: table-row;
    height: 800px;
}
div.cell {
    display: table-cell; 
    vertical-align: middle;
}
div.cell-center {
    width: 900px; 
    margin: 0 auto;
}
div#logo {
    display: block;
    position: relative; 
    width: 50px;
    opacity: .85;
    margin: auto;
    left: -100px;
    padding-left: 18px;
    padding-right: 4px;
    /*background-color: #222;
    color: white;
    border-radius: 250px;*/
}
div#motto {
    display: block; 
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0; 
    padding-left: 30px;
    height: 65px; 
    text-align: left; 
    margin: auto;
    background-color: #333;
    padding-top: 35px;
    color: #999;
    box-shadow: inset 0 0 10px black;
}
div#more, div#continue {
    cursor: pointer;
}
div#download {
    display: block; 
    position: relative; 
    width: 500px; 
    text-align: left; 
    left: 20%;
}
section#home {
}
div#copyright {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin-top: 60px;
    color: #666;
    font-family: arial;
    font-size: 10px;
    text-decoration: none;
}

img.sponsor {
    display: inline-block;
    position: relative;
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 40px;
    margin: 34px;
    -webkit-filter: grayscale(0.9);
    margin-left: 35px;
    padding-bottom: 20px;
    height: 40px;
    left: 0px;
}

img.os {
    width: 100px;
}

span.highlight {
    color: white;
}

div.example-link {
    cursor: pointer;
    color: #41B0DB;
}
div.example-content {
    display: none;
}
div#example-view-container {
    position: absolute;
    display: table;
    width: 0px;
    height: 100%;
    top: 50%;
    right: 1px;
    color: #999;
}
div#example-view {
    display: table-cell;
    vertical-align: middle;
    background-color: #333;
    overflow: scroll;
}
pre.example {
    padding: 30px; 
    margin: 0px; 
    width: 385px;
}
